@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  background-color: #F2F2F2;
  font-family: "PT Sans", sans-serif;
  color:#000000;
  font-size: 18px;
  line-height: 21px;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* общие стили для всех страниц */

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.header {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.header-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-nav-item a {
  text-decoration: none;
}

.header-nav-go {
  width: 160px;
  height: 36px;
  background-color: #756157;
  border-radius: 4px;

  display: flex;
}

.header-nav-go a {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  margin: auto;
}

.main-footer-socials {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-footer-tel {
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  text-decoration: none;
}

/* страница index */

.main-hero-splash {
  width: 1200px;
  height: 485px;

  background-color: #3F5E72;
  background-image: url("../images/index/hero-background-bottom.svg"), url("../images/index/hero-background.jpg");
  background-position: bottom;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-slogan {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.main-comment {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
}

.main-advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-advantage-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.main-advantage-text {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.main-attractions-title {
  /* Выше есть такое же правило - для .main-advantage-title.
     Есть смысл объявить его для обоих классов сразу?
     Это было бы компактнее. но уложнило бы поддержку.
     Или же принято просто по возможности использовать одинаковые классы? */
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.main-attractions-text {
  font-size: 18px;
  line-height: 21px;
  /* Тот же вопрос; совпадает с .main-advantage-text. */
}

.main-attractions-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.index-search-button {
  width: 376px;
  height: 52px;
  background-color: #756157;
  border-radius: 4px;

  display: flex;
}

.index-search-button a {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  margin: auto;
}

.index-subscribe {
  width: 1200px;
  height: 415px;
  background-color: #756157;
  background-image: url("../images/index/subscribe-background.jpg");

  color: #ffffff;
  text-transform: uppercase;
}

/* страница catalog */

.catalog-caption {
  width: 1200px;
  background-color: #3F5E72;
  background-image: url("../images/catalog/catalog-filter-background.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size:cover; /* защита от случаев, когда после добавления контента из-за края фонового изображения виден фоновый цвет */

  color: #ffffff;
}

.catalog-adjust h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.catalog-breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-breadcrumb {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filters-infrastructure, .catalog-filters-type {
  /* тот же вопрос, что и в стр. 142. Группы стоят рядом и выглядят почти одинаково - принято стилиховать их одним правилом? */
  margin: 0;
  padding: 0;
  list-style: none;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.catalog-selection-buttons {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.catalog-cards-caption-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.select-control {
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

.cards {
  margin: 0;
  padding: 0;
  list-style: none;
}

.card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.residental-type, .residental-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.card-more .tofavorites {
  font-size: 16px;
  line-height: 20px;
/*   color: #ffffff; */ /* будет включено при стилизации кнопок */
}

.card-rating {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.paginator-list {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  /*   color: #ffffff; */ /* будет включено при стилизации кнопок */
  margin: 0;
  padding: 0;
  list-style: none;
}

.paginator-current {
  color: #000000;
}

.catalog-slogan {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-comment {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
.subsctibe-email {
  font-size: 18px;
  line-height: 24px;
}

.subsctibe-button {
  font-size: 20px;
  line-height: 36px;
/*   color: #ffffff; */ /* будет включено при стилизации кнопок */
  text-transform: uppercase;
}
