@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #F2F2F2;
  font-family: "PT Sans", sans-serif;
  color:#000000;
  font-size: 18px;
  line-height: 21px;
}

main {
  flex-grow: 1;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* общие стили для всех страниц */

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0 70px;
}

.header-wrapper {
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.header-nav {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.header-logo {
  position: absolute;
  top: 0;
}

.header-nav-list {
  margin: 0;
  margin-left: 184px; /* чтобы перекрыть пространство под лого, которое выпало из потока из-за position: absolute;
                         184 = ширина лого 140 + margin до меню 44.
                         Альтернативное решение: добавить в разметку прозрачную подложку размером с логотип, которая будет находиться в потоке (position: static).*/
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.header-nav-item {
  margin-right: 32px;
  /* margin-right для последнего элемента не убран, чтобы при добавлении новых элементов всегда было поле до соседнего справа блока. */
  border-bottom: 2px solid #ffffff; /* Защита от скачков высоты шапки при включении-выколючении класса current (подсказка пользователю "Мы на этой странице"). */
  box-sizing: border-box;
}

.header-nav-item a {
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-nav-item a:focus {
  outline: 3px solid #83B3D3;
}

.header-nav-item a:visited {
  color:#000000;
 }

.current {
  border-bottom: 2px solid #756257;
}

.header-button-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.header-button-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-button-item a:focus{
  outline: 3px solid #83B3D3;
  z-index: 1; /* Не дает съедать нижний край обвдоки вокруг иконки с лупой (у иконки избранного нижний край виден). */
}

.header-button-search {
  display: block;
  padding: 23px 13px 23px 13px;
}

.header-button-favorites {
  display: block;
  padding: 24px 13px 23px 13px;
  position: relative;
}

.header-button-favorites-counter {
  background-color: #7DB54F;
  position: absolute;
  top: 11px;
  left: 20px;
  border-radius: 50%;

  width: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;

  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}

.header-button-go {
  min-width: 160px;
  min-height: 36px;
  background-color: #756157;
  border-radius: 4px;

  margin-left: 20px;

  display: flex;
}

.header-button-go:hover {
  background-color: #615048;
}

.header-button-go a:focus {
  background-color: #615048;
  outline-style: none;
  border-radius: 4px;
}

.header-button-go a:active {
  color: rgba(255, 255, 255, 0.3)
}

.header-button-go a {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 8px 34px;
}

.footer-wrapper {
  padding: 45px 70px 35px;
  display: flex;
  justify-content: space-between;
}

.footer-socials {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 142px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer-social {
  width: 47px;
  height: 40px;
  display: flex;
  align-items: center;
}

.footer-social-link {
  padding: 12px;
  margin: auto;
}

.footer-social-link:focus {
  outline-style: none;
}

.footer-social-button:hover path {
  fill: #68A2CA;
}

.footer-social-button:focus path {
  fill: #68A2CA;
  outline-style: none;
}

.footer-social-button:active path {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-tel {
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  text-decoration: none;
}

.footer-tel:hover {
  color: rgba(117, 97, 87, 1);
}

.footer-tel:focus {
  color: rgba(117, 97, 87, 1);
  outline-style: none;
}

.footer-tel:active {
  color: rgba(117, 97, 87, 0.3);
}

.html-academy-link {
  outline-style: none;
}

.html-academy-svg:hover path {
  fill: rgba(117, 97, 87, 1);
}

.html-academy-svg:focus path {
  fill: rgba(117, 97, 87, 1);
  outline-style: none;
}

.html-academy-svg:active path {
  fill: rgba(117, 97, 87, 0.3);
}

/* страница index */

.main-hero-splash {
  width: 1200px;
  height: 485px;

  background-color: #3F5E72;
  background-image: url("../images/index/hero-background-bottom.svg"), url("../images/index/hero-background.jpg");
  background-position: bottom;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
}

.main-hero-lettering {
  align-self: flex-start;
  margin: 0;
  padding-top: 51px;
}

.img-cover {
  object-fit: cover;
  min-height: 100%;
}

.main-hero-text {
  padding: 69px 290px;

  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.main-slogan {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.main-comment {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.main-advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.main-advantages-item {
  width: 400px;
  min-height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
  padding: 112px 80px; /* В макете горизонтлаьный padding 85px, но при таком в Firefox строка "Ехать в Седону..." разбивается на три строки. */
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.main-advantage-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  width: 175px;
  margin: 0;
  /* Считаем, что тексты неизменные (задаются дизайнером, а не контент-менеджером) и можно не обеспечивать положение линии-разделителя всегда по центру (например, дополнительным уровнем флексов и прижать тексты к линии с помощью align-self). */
}

.main-advantage-title:after {
  content: "";
  display: block;
  height: 2px;
  width: 60px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 30px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.main-advantage-text {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-top: 30px;
}

.white-on-blue {
  color: #ffffff;
  background-color: #82B3D3;
}

.white-on-blue .main-advantage-text {
  color: #ffffff;
}

.white-on-blue .main-advantage-title:after {
  background-color: rgba(255, 255, 255, 0.3);
}

.black-on-lightblue {
  background-color: rgba(131, 179, 211, 0.2)
}

.main-attraction-text {
  padding: 64px 290px;

  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.main-attractions-list {
  display: flex;
}

.main-attractions-item {
  width: 400px;
  min-height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
  padding: 30px 85px; /* вертикальный отсутп 30px - равен отступу между блоками текста (воздух вокруг композиции не может быть меньше, чем промежутки между ее элементами). */
  /* Тексты, скорее всего, неизменные (задаются дизайнером, а не контент-менеджером), поэтому можно считать, что количество строк текста останется неизменным. Иначе нужно предусмотреть выстраивание заголовков и описаний в одну линию (например, дополнительным уровнем вложенности флексов). */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.main-attractions-item:nth-last-of-type(2) {
  background-color: #FFFFFF;
}

.main-attractions-title::before {
  content: " ";
  display: block;
  margin-bottom: 30px;

  margin-left: auto;
  margin-right: auto;
}

.attraction-item-living:before {
  background-image: url(../images/index/attraction-living.svg);
  width: 75px;
  height: 72px;
}

.attraction-item-food:before {
  background-image: url(../images/index/attraction-food.svg);
  width: 74px;
  height: 70px;
}

.attraction-item-gifts:before {
  background-image: url(../images/index/attraction-gifts.svg);
  width: 64px;
  height: 76px;
}

.main-attractions-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.main-attractions-text {
  font-size: 18px;
  line-height: 21px;
  width: 230px;
  margin: 0;
}

.main-attractions-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.index-search {
  display: flex;
  flex-direction: column;
  padding: 96px 304px;
  align-items: center;
  text-align: center;
}

.index-search-slogan {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.index-search-comment {
  width: 592px;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
}

.index-search-button {
  min-width: 376px;
  max-width: 685px; /* Ширина ближайшего похожего блока - формы подписки */
  min-height: 52px;
  background-color: #756157;
  border-radius: 4px;

  display: flex;
}

.index-search-button a {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  margin: auto;
  padding: 8px 50px;
}

.index-search-button:hover {
  background-color: rgba(97, 80, 72, 1);
}

.index-search-button a:focus {
  outline-style: none;
  background-color: rgba(97, 80, 72, 1);
}

.index-subscribe {
  width: 1200px;
  height: 415px;
  background-color: #3F5E72;
  background-image: url("../images/index/subscribe-background.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.index-subscribe-slogan {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 96px;
  margin-bottom: 20px;
  padding: 0;
}

.index-subscribe-comment {
  width: 475px;
  color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
}

.subsctibe-form {
  display: flex;
  justify-content: center;
}

.field {
  font-size: 18px;
  width: 452px;
  height: 52px;
  box-sizing: border-box;

  background-color: rgba(242, 242, 242, 1);
  border: none;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  font-family: inherit;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 20px;
}

.field:hover {
  background-color:rgba(230, 230, 230, 1);
}

.field:focus {
  background-color:rgba(230, 230, 230, 1);
  outline-style: none;
  border: 3px solid rgba(131, 179, 211, 1);
}

.subsctibe-button {
  width: 232px;
  height: 52px;
  margin-bottom: 54px;
  background-color: #82B3D3;
  border: 0;
  border-radius: 0 4px 4px 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.subsctibe-button:hover {
  background-color: rgba(104, 162, 202, 1);
}

.subsctibe-button:focus {
  outline-style: none;
  background-color: rgba(104, 162, 202, 1);
}

.subsctibe-button:active {
  background-color: rgba(104, 162, 202, 1);
  color: rgba(255, 255, 255, 0.3);
}

/* страница catalog */

.catalog-caption {
  width: 1200px;
  min-height: 412px;
  box-sizing: border-box;
  background-color: #3F5E72;
  background-image: url("../images/catalog/catalog-filter-background.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 35px 70px;
  color: #ffffff;
}

.catalog-adjust {
  display: flex;
  flex-direction: column;
}

.catalog-adjust h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.catalog-breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;

  margin-bottom: 40px;
}

.catalog-breadcrumbs li {
  display: inline-block;
  padding: 6.5px;
  vertical-align: middle;
}

.catalog-breadcrumb-home {
  padding-right: 10px;
}

.catalog-breadcrumb-home a:focus { /* В стайлгайде не было, добавил на свое усмотрение. */
  outline: 3px solid #83B3D3;
  outline-offset: 5px;
}

.catalog-breadcrumb {
  font-size: 16px;
  line-height: 21px;
}

.catalog-breadcrumb:before {
  content: "";
  background-image: url("../images/catalog/breadcrumbs-arrow.svg");
  height: 11px;
  width: 19px;
  display: inline-block;
}

.catalog-breadcrumb:hover {
  color: rgba(255, 255, 255, 0.6);
}

.catalog-breadcrumb a:focus  {
  outline-style: none;
  border-radius: 4px;
}

.catalog-breadcrumb a:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-breadcrumb a {
  text-decoration: none;
  color: inherit;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 32px;
}

.catalog-form {
  width: 1060px;
  display: flex;
}

.catalog-filters-infrastructure,
.catalog-filters-type {
  width: 150px;
  margin: 0;
  margin-right: 70px;
  padding: 0;

  border: none;

  display: flex;
  flex-direction: column;
}

.catalog-filters-list {
  padding: 0;
  margin: 0;
  width: 150px;
  list-style-type: none;
}

.control {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 17.5px;
  display: flex;
  align-items: center;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control:focus {
  border-color: #68A2CA;
  outline-style: none;
  border-radius: 4px;
}

.control-input[type="checkbox"] {
  margin: 0;
  margin-right: 16px;
  width: 20px;
  height: 20px;
  appearance: none;
  border-radius: 4px;
  background-color: #ffffff;
}

.control-input[type="checkbox"]:checked {
  background-image: url("../images/catalog/filter-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="radio"] {
  margin: 0;
  margin-right: 16px;
  width: 20px;
  height: 20px;
  appearance: none;
  background-color: #ffffff;
  border-radius: 50%;
}

.control-input[type="radio"]:checked {
  background-image: url("../images/catalog/bullet.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.control-input:hover {
  opacity: 1;
}

.control-input:focus {
  opacity: 1;
  outline: 3px solid rgba(131, 179, 211, 1);
}

.control-input:active {
  opacity: 1;
  outline: 2px solid rgba(131, 179, 211, 1);
}

.control-label {
  font-family: PT Sans, sans-serif;
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-price {
  width: 280px;
  padding: 0;
  border: none;
  margin-left: auto;
  margin-right: 70px;
}

.range_wrapper_inputs {
  display: flex;
  gap: 2px;
}

.price-limits-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

.price-limits-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 143px;
  background-color: #f2f2f2;
}

.label-left {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.label-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.price-limits-field {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: rgba(242, 242, 242, 1);
}

.price-limits-field:hover {
  background-color: rgba(230, 230, 230, 1);
}

.price-limits-field:focus-within {
  outline: 3px solid rgba(131, 179, 211, 1);

}

.price-input:focus {
  outline-style: none;
}

.price-input {
  max-width: 80px;
  padding: 12px 20px;
  padding-right: 0;
  background-color: inherit;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  appearance: textfield;
}

.price-limits-label:focus {
  outline: 3px solid rgba(131, 179, 211, 1);
  outline-style: none;
  border-radius: 4px;
}

.price-input-hint {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 20px;
  background-color: inherit;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  opacity: 0.3;
  justify-self: center;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
}

.catalog-filter-button {
  width: 191px;
  height: 36px;
  background-color: #82B3D3;
  border: 0;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.catalog-filter-button:hover {
  background-color: #68A2CA;
}

.catalog-filter-button:focus {
  outline-style: none;
  background-color: #68A2CA;
  border-radius: 4px;
}

.catalog-filter-button:active {
  color: rgba(255, 255, 255, 0.3)
}

.catalog-button-transparent {
  width: 191px;
  height: 36px;
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: transparent;
  margin-top: 32px;
}

.catalog-button-transparent:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.catalog-button-transparent:focus {
  background-color: transparent;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.catalog-button-transparent:active {
  color: rgba(255, 255, 255, 0.3);
}

.price-slider {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.30);
}

.price-slider_bar {
  position: absolute;
  left: 0;
  width: 226px;
  height: 4px;
  background-color: #FFFFFF;
}

.price-slider-set {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
}

.price-slider-set:focus {
  outline: 2px solid rgba(131, 179, 211, 1);
}

.price-set-min {
  top: -8px;
  left: 0;
}

.price-set-max {
  top: -8px;
  left: 207px;
}

.sort-button {
  width:48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-color: #ffffff;
  margin-right: 8px;
  padding: 0;
}

.sort-button:last-child {
  margin-right: 0;
}

.sort-button:hover {
  border-color: #000000;
}

.sort-button:focus {
  border-color: #68A2CA;
  outline-style: none;
  border-radius: 4px;
}

.sort-button:active {
  border-color: #000000;
}

.sort-button-active {
  border-color: #000000;
}

.sort-button img {
  margin: auto;
}

.select-control {
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  width: 292px;
  height: 50px;
  margin-right: 70px;
  background-color: #ffffff;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 2px;
}

.select-control:hover {
  border-color: rgba(104, 162, 202, 1);
  border-radius: 2px;
}

.select-control:focus {
  outline-style: none;
  border-color: rgba(104, 162, 202, 1);
  border-radius: 2px;
}

.catalog-cards-caption {
  margin: 50px 70px 60px;
  display: flex;
  justify-content: space-between;
}

.catalog-cards-caption-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  Margin: 0;
}

.cards {
  margin: 0 70px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 340px;
  min-height: 438px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #E6E6E6;
  border-radius: 4px;

  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 212px 1fr;
  column-gap: 20px;
  row-gap: 16px;
}

.card-photo,
.card-title {
  text-decoration: none;
  grid-column-start: 1;
  grid-column-end: 3;
}

.card-photo {
  background-color: #F2F2F2;
}

.card-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.card-type,
.card-price {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.card-price {
  justify-self: right;
}

.cards-stars {
  align-self: center;
  background-image: url("../images/catalog/card-star.svg");
  height: 18px;
  background-repeat: repeat-x;
}

.stars-1 {
  width: 18px;
}

.stars-2 {
  width: 42px;
}

.stars-3 {
  width: 66px;
}

.stars-4 {
  width: 90px;
}

.stars-5 {
  width: 114px;
}

.card-button-more,
.card-button-tofavorites,
.card-button-favorited,
.card-button-rating {
  width: 140px;
  min-height: 36px;
  margin: 0;
  box-sizing: border-box;
  background-color: #756157;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-button-more:hover {
  background-color: #615048;
}

.card-button-more a:focus {
  background-color: #615048;
  outline-style: none;
  border-radius: 4px;
}

.card-button-more:active {
  color: rgba(255, 255, 255, 0.3)
}

.card-button-tofavorites {
  background-color: #82B3D3;
}

.card-button-tofavorites:hover {
  background-color: #68A2CA;
}

.card-button-tofavorites a:focus {
  background-color: #68A2CA;
  outline-style: none;
  border-radius: 4px;
}

.card-button-tofavorites:active {
  color: rgba(255, 255, 255, 0.3)
}

.card-button-favorited {
  background-color: #7DB54F;
}
.card-button-favorited:hover {
  background-color: #6C9E42;
}

.card-button-favorited a:focus {
  background-color: #6C9E42;
  outline-style: none;
  border-radius: 4px;
}

.card-button-favorited:active {
  color: rgba(255, 255, 255, 0.3)
}

.card-button-more:disabled,
.card-button-tofavorites:disabled,
.card-button-favorited:disabled,
.card-button-rating:disabled {
  background-color: rgba(229, 229, 229, 1);
}

.card-button-rating {
  background-color: #F2F2F2;
  font-weight: 400;
  color: #333333;
}

.card-button-rating a:focus {
  outline-style: none;
  border-radius: 4px;
}

.card-button-link {
  color: inherit;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  padding: 8px;
}

.cards-stars {
  margin: 0;
}

.paginator-container {
  margin: 40px 70px 60px;
  padding: 0;
  padding-top: 40px;
  width: 1060px;
  border-top: 1px solid #E6E6E6;
}

.paginator-list {
  margin: 0;
  padding: 0;
  list-style: none;

  text-align: center;
  display: flex;
  gap: 8px;
  width: 400px;
}

.paginator-item {
  min-width: 60px;
  height: 60px;
  box-sizing: border-box;
  padding-left: 12px; /* Поле шириной чуть больше одного символа. */
  padding-right: 12px;

  background-color:#82B3D3;
  border-radius: 4px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.paginator-item:hover {
  background-color: #68A2CA;
}

.paginator-item a:focus {
  background-color: #68A2CA;
  outline-style: none;
  border-radius: 4px;
}

.paginator-item a:active {
  color: rgba(255, 255, 255, 0.3);
}

.paginator-current {
  color: #000000;
  background-color: #f2f2f2;
}

.paginator-current:hover,
.paginator-current a:focus,
.paginator-current a:active /* Предотвращает применение состояний от более общего класса paginator-item. */
{
  color: #000000;
  background-color: #f2f2f2;
}

.paginator-intermediate {
  color: #000000;
  background-color: #ffffff;
}

.paginator-intermediate:hover,
.paginator-intermediate a:focus,
.paginator-intermediate a:active { /* Предотвращает применение состояний от более общего класса paginator-item. */
  color: #000000;
  background-color: #ffffff;
}

.paginator-item a {
  color: inherit;
  text-decoration: none;
}

.paginator-intermediate,
.paginator-last {
  min-width: max-content;
}

.paginator-intermediate a {
  padding-left: 10.36px; /* Величина недостающего поля при дефолтном содержимом, чтобы получить ширину блока по макету (ручная подгонка). */
  padding-right: 10.36px;
}

.paginator-last a {
  padding-left: 6.7px; /* Величина недостающего поля при дефолтном содержимом, чтобы получить ширину блока по макету (ручная подгонка). */
  padding-right: 6.7px;
}

.catalog-subscribe {
  min-height: 415px;
  padding: 0 70px; /* Горизонтальные поля - как для остальных блоков страницы. */
  text-align: center;
  display: flex;
  flex-direction: column;
}

.catalog-slogan {
  margin-top: 96px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-comment {
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
.subsctibe-email {
  font-size: 18px;
  line-height: 24px;
}

/* Модальное окно */

.modal-background {
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: absolute;
  width: 717px;
  height: 576px;
  padding: 64px 70px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}

.modal-button-close {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: rgba(242, 242, 242, 1);
  border: none;
  border-radius: 26px;
  text-align: center;
}

.modal-button-close:hover {
  background-color: rgba(230, 230, 230, 1);
}

.modal-button-close:focus {
  background-color: rgba(230, 230, 230, 1);
  outline: none;
  border: 3px solid rgba(131, 179, 211, 1);
}

.modal-button-close:active path {
  fill: rgba(0, 0, 0, 0.3);
}

.modal-button-close:active {
  border: none;
}

.modal-caption {
  margin: 0;
  margin-bottom: 64px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-form-data {
  display: grid;
  grid-template-columns: 137px auto;
  grid-template-rows: 48px 48px;
  align-items: center;
}

.modal-label {
  grid-column-start: 1;
  grid-column-end: 2;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding-right: 10px; /* Отступ между подписью и полем ввода даты. */
}

.modal-form-field {
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 12px 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
  border: none;
  align-items: center;
  min-width: 400px;
  background-image: url("../images/calendar.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: right 20px center;
}

.modal-form-field::placeholder {
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
}

.modal-approve,
.modal-error {
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  padding-left: 20px;
  align-self: start;
}

.modal-error {
  color: rgba(255, 87, 87, 1);
}

.modal-form-field:hover {
  background-color: rgba(230, 230, 230, 1);
}

.modal-form-field:focus {
  background-color: rgba(230, 230, 230, 1);
  outline: none;
  border: 3px solid rgba(131, 179, 211, 1);
  border-radius: 3px;
}

.guests {
  width: 577px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 137px 110px 220px 110px;
}

.guests-number {
  display: flex;
  width: 247px;
  height: 48px;
  justify-content: center;
  align-items: center;
}

.guests-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  align-items: center;
  align-self: center;
  margin-right: auto;
}

.count-button-container {
  display: flex;
}

.count-button-container input::-webkit-outer-spin-button,
.count-button-container input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.button-counter {
  width: 40px;
  height: 48px;
  padding: 0;
  position: relative;
  border: none;
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-counter svg path {
  fill: rgba(117, 97, 87, 0.3);
}

.button-counter:hover svg path {
  fill: rgba(0, 0, 0, 1);
}

.button-counter:focus {
  outline: 3px solid rgba(130, 179, 211, 1);
  outline-offset: -12px;
}

.button-counter:active svg path {
  fill: rgba(117, 97, 87, 0.3);
}

.guests-field {
  width: 31px;
  height: 46px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  background-color: #F2F2F2;
  border: none;
  text-align: center;
  appearance: textfield;
}

.guests-field:focus {
  outline: none;
}

.tooltip-container {
  display: flex;
  position: relative;
}

.tooltip-button {
  width: 26px;
  height: 26px;
  margin-left: 10px;
  background-color: rgba(131, 179, 211, 1);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip-text {
  width: 256px;
  padding: 15px 18px 18px 22px;
  box-sizing: border-box;
  color: #ffffff;
  line-height: 20px;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  background-color: rgba(51, 51, 51, 1);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: absolute;
  top: 52px;
  left: -50px;
  z-index: 2;
  display: none;
}

.tooltip-button:hover + .tooltip-text,
.tooltip-button:focus + .tooltip-text {
  display: block;
}

.tooltip-text:after {
  position: absolute;
  width: 19px;
  height: 19px;
  left: 110px;
  top: -9px;
  background-color: rgba(51, 51, 51, 1);
  content: "";
  transform: rotate(45deg);
  z-index: 1;
}

.modal-button-find {
  width: 577px;
  min-height: 60px;
  margin: 0;
  margin-top: 48px;
  padding: 18px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  background-color: rgba(131, 179, 211, 1);
  border: none;
  border-radius: 10px;
}

.modal-button-find:hover {
  background-color: rgba(104, 162, 202, 1);
}

.modal-button-find:focus {
  background-color: rgba(104, 162, 202, 1);
  outline: none;
}

.modal-button-find:active {
  color: rgba(255, 255, 255, 0.3);
}

/* строка для запуска пулреквеста */
