span {
  color: tomato;
}

header {
  background-color: skyblue;
}

main {
  background-color: greenyellow;
  flex-grow: 1;
}

footer {
  background-color: brown;
}

html {height: 100%;}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
